# Database
DATABASE_URL="postgresql://user:password@localhost:5432/gdgoc_db?schema=public"

# Auth
JWT_SECRET="gdgoc_default_secret_key_2026"

# Discord Bot
DISCORD_BOT_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_GUILD_ID=""

# Server
PORT=3000
